header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .login {
    float: right;
  }
  
  .signup {
    float: right;
    margin-right: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .dashboard {
    margin-top: 20px;
  }
  
  .back
  {
    background-image: url("https://res.cloudinary.com/dunzdwo0h/image/upload/v1689051992/a8_jixapk.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
  }
  
  .card {
    width: 3000px;
    min-height: 300px;
    background-color: #f0f0f0;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 50%;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 100px;  */
    font-weight: bold;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
}